html{
    background-color: black;
}

h1{
    color: white;
    font-size: 5rem;
}

h2{
    color: white;
}

p{
    color: white;
}

#main{
    flex: 1;
}

.title-image{
    height: 200px;
    float: left;
    margin-right: 25px;
}

.card{
    width: 45%;
}

.left{
    float: left;
}

.right{
    float: right;
}

@media(max-width: 680px){
    h1{
        font-size: 3.6rem;
        text-align: center;
    }

    .card{
        width: 100%;
        float: left;
        display: block;
        margin-bottom: 30px;
        text-align: justify;
    }

    .card img{
        margin-bottom: 10px;
        width: 100%;
        display: inline;
        object-fit: cover;
    }
}